# Secrets
.env
*.key
*.pem

# Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Streamlit local secrets
.streamlit/secrets.toml
.streamlit-test-tmp/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local logs/temp
*.log
*.tmp

.devcontainer
/devcontainer